blue = #005183
lightblue = #00b0e1

primary = blue
secondary = lightblue

base-textcolor = #333
title-textcolor = primary
link-textcolor = secondary

background = #ffffff
nav-bg = #f5f5f5

border-color = #cccccc
border-radius = 5px

container-max-width = 960px