.session
  display none
  &.active
    display block
  p
    margin 20px 0
.session-title 
  color primary
.session-speaker
  color primary
.session-qa
  color secondary
  text-decoration none
.session-aboutTitle
  color primary