.sidebar-title
  color primary
.sidebar-list
  list-style none
  margin 0
  padding 0
.sidebar-listItem
  border-bottom 1px solid border-color
  &:first-child
    border-top 1px solid border-color
  a
    padding 15px 10px
    display block
    text-decoration none
    &.active
      background-color nav-bg
.sidebar-itemTitle
  color primary
  display block
  margin-bottom 5px
.sidebar-itemSub
  color base-textcolor
@media screen and (min-width: 768px)
  .sidebar 
    min-width 290px
    margin-right 45px
    margin-bottom 45px
    


