.tabs-nav
  margin 0 auto 40px
  max-width container-max-width
  overflow-x scroll
.tabs-list
  margin 0
  padding 0
  list-style none
  display flex
  border-bottom 1px solid border-color
.tabs-listItem
  a
    background-color nav-bg
    border-left 1px solid border-color
    border-top 1px solid border-color
    margin 0
    display block
    padding 10px 15px
    text-decoration none
    color base-textcolor
    &.active
      background-color white
      box-shadow 0 1px 0px 0px white
  &:first-child
    a
      border-top-left-radius border-radius
  &:last-child
    a
      border-top-right-radius border-radius
      border-right 1px solid border-color
.tabs-content
  display none
  flex-direction column
  &.active
    display flex
    
@media screen and (min-width: 768px)
  .tabs-content
    flex-direction row
      